* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

ul {
    list-style-type: none;
}

/* Header */
.main-banner {
    background-color: white;
    height: 70px;
    line-height: 70px;
    margin-bottom: 50px;
}

#logo {
    padding-left: 20px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-weight: 800;
    font-size: 40px;
}

/* Main */
.container {
    margin: 0 auto;
    width: 50%;
}

/* Card */
.card {
    background-color: white;
}

/* Card top */
.card-top {
    padding: 10px 40px;
    border-bottom: 1px solid aquamarine;
}

button {
    padding: 5px 10px;
    font-size: 17px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-task {
    color: white;
    background-color: #46abf0;
}

.btn-section {
    color: #dbdbdd;
    border-color: #dbdbdd;
    background-color: white;
}

/* Card bottom */
.card-bottom {
    padding: 40px;
}

.task-body {
    margin: 20px 0px;
}

/* Checkbox */

.checkbox {
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
}

.tsk-done {
    color: green;
    border: 1px solid green;
}

.tsk-undone {
    color: red;
    border: 1px solid red;
}

/* Badge */

.badge {
    background-color: #868686;
    color: white;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 12px;
}

.bg-blue {
    background-color: #46a7eb;
}

.bg-purple {
    background-color: #9773df;
}

.bg-green {
    background-color: #5dc5a9;
}

.bg-orange {
    background-color: #f2a030;
}